node_modules
package-lock.json
.idea/end-to-end-javascript-testing-with-cypressio-4253121.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
.idea/inspectionProfiles/profiles_settings.xml
